body {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-drag: none;-khtml-user-select: none;-moz-user-select: none;-moz-user-select:-moz-none;-ms-user-select: none;user-select: none;
	font-size:12px;
	background:#101010;
	color:#aeaeae;
	min-width:320px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.areas {
	background:#202020;
	max-width: 500px;
	margin: 2px auto;
	padding: 10px;
	height: 30%;
	overflow-y: auto;
	border-radius: 10px;
	scroll-behavior: smooth;
}

.image {
	margin: 0px;
	padding: 0px;
	width: 48%;
	height: 90%;
	float: right;
	position: relative;
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.playerarea {
	display:inline-block;
	margin: 0px;
	padding: 0px;
	width: 48%;
}

.gauge, .score_box {
	position:relative;
	width:100%;
	height:15px;
	margin:1.5px;
	padding:0;
}

.score_box {
	position: relative;
	text-align: right;
	display: table;
}

.score_box:before {
	margin-left: 3px;
	content: var(--content, "NO_NAME");
	float: left;
}

.marker {
	position:relative;
	top:0;
	left:0;
	height:10px;
	background:#444;
	transition: all 1000ms ease-in-out;
	border-radius: 7px;
	border: 1.5px solid #222;
}

.button {
	border:1px solid gray;
	margin:5px;
	padding:5px;
	display:inline-block;
	pointer-events: auto;
	cursor:hand;
	border-radius: 9px;
}

.pre_notice {
	display: inline;
	margin-left: 15px;
	color: #7a7a7a;
}

.caption {
	position: relative;
	top: -13.0px;
	left: 3px;
}

::-webkit-scrollbar {
width: 9px;
height: 5px;
background: transparent;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #444;
border: 1.5px solid #222;
}

